<ng-select #combo  [items]="branchDropdown" [closeOnSelect]="false"
placeholder="Select" bindLabel="companyBranch" bindValue="branchId"
[formControl]="selectControl">
<ng-container *ngIf="branchDropdown && branchDropdown.length > 0">
    <ng-template ng-multi-label-tmp let-items="items" >
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
            <span class="ng-value-label">{{ getBranchText(item) }}</span>

        </div>
        <div class="ng-value" *ngIf="items.length > 1">
            <span class="ng-value-label">{{items.length - 1}} more...</span>
        </div>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <div class="d-flex">
            <input id="item-{{index}}"
                type="checkbox" [checked]="item$.selected" class="me-3" />
            {{item.companyBranch}}
        </div>
    </ng-template>
</ng-container>
</ng-select>