.bs-datepicker-container{
    padding: 0px !important;
  }

  .bs-datepicker-body table td span.selected,
  .bs-datepicker-head,
  .bs-datepicker-head, .bs-datepicker button:active,
  .bs-datepicker-body table td.selected span,
  .bs-datepicker-body table td span[class*="select-"]:after,
  .bs-datepicker-body table td[class*="select-"] span:after,
  .bs-datepicker-body table td.active-week span:hover
  {
    background-color: #3762ea !important;
  }
  .fc-view-harness {
    height: 325px !important;
  }
